#red {
    color: red;
}
#blue {
    color:blue;
}
#orange{
    color:orange;
}
#green {
    color:green;
}
#yellow {
    color:yellow;
}

.color-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 300px;
    width: 300px;
}